{% extends 'base.html' %}

{% block title %}
    Аналитика рынка криптовалют
{% endblock %}

{% block content %}
    <div class="container my-4" style="max-width: 100%">
        <h2 class="mb-4">Анализ рынка криптовалют</h2>
        <div class="table">
            <table class="table table-bordered table-hover" style="max-width: 100%">
                <thead class="thead-dark">
                <tr>
                    <th>Валюта</th>
                    <th class="d-none d-md-block">EMA</th>
                    <th class="d-none d-md-block">SuperTrend</th>
                    <th class="d-none d-md-block">MACD</th>
                    <th class="d-none d-md-block">RSI</th>
                    <th class="d-none d-md-block">Стохастик</th>
                    <th>Ожидаемый результат</th>
                </tr>
                </thead>
                <tbody>
                {% for crypto in crypto_data %}
                    <tr>
                        <td>
                            <a href="#" data-toggle="modal" data-target="#cryptoModal{{ forloop.counter }}"
                               onclick="document.getElementById('cryptoFrame{{ forloop.counter }}').src='/status_market/{{ crypto.name }}'; return false;">{{ crypto.name }}</a>
                        </td>
                        <td class="d-none d-md-block">{{ crypto.ema }}</td>
                        <td class="d-none d-md-block">{{ crypto.st }}</td>
                        <td class="d-none d-md-block">{{ crypto.macd }}</td>
                        <td class="d-none d-md-block">{{ crypto.rsi }}</td>
                        <td class="d-none d-md-block">{{ crypto.stoch }}</td>
                        <td class="{{ crypto.result_class }}">{{ crypto.expected_result }}</td>
                        <td><a href="/status_market/{{ crypto.name }}">Детальнее</a></td>
                    </tr>

                    <!-- Modal для отображения контента из другой страницы -->
                    <div class="modal fade" id="cryptoModal{{ forloop.counter }}" tabindex="-1" role="dialog"
                         aria-labelledby="cryptoModalLabel{{ forloop.counter }}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="cryptoModalLabel{{ forloop.counter }}">Детали
                                        по {{ crypto.name }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <iframe id="cryptoFrame{{ forloop.counter }}" src="about:blank"
                                            style="width: 100%; height: 400px; border: none;"></iframe>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
