{% extends 'base.html' %}

{% block title %}
    Крайние полученые сигналы
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 {{ analysis_1h.result_class }}">{{ analysis_1h.result }} на графике 1h</div>
            <div class="col-md-6 {{ analysis.result_class }}">{{ analysis.result }} на графике 15m</div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-4">Анализ {{ symbol }} на графике 1h</h2>

                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Общий анализ тренда</h5>
                        <ul class="list-group">
                            {% for text_item in text_h %}
                                <li class="list-group-item">{{ text_item }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <h4>Логические значения показателей:</h4>
                <table class="table table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th>Индикатор</th>
                        <th>Значение</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Ожидаемо</td>
                        <td class="{{ analysis_1h.result_class }}">{{ analysis_1h.result }}</td>
                    </tr>

                    <tr>
                        <td>EMA</td>
                        <td>
                            {% if logic_h.ema == 1 %}
                                <span class="text-success">Восходящий тренд</span>
                            {% elif logic_h.ema == -1 %}
                                <span class="text-danger">Нисходящий тренд</span>
                            {% else %}
                                <span class="text-warning">Боковое движение</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>SuperTrend</td>
                        <td>
                            {% if logic_h.st == 1 %}
                                <span class="text-success">Восходящий тренд</span>
                            {% elif logic_h.st == -1 %}
                                <span class="text-danger">Нисходящий тренд</span>
                            {% else %}
                                <span class="text-warning">Боковое движение</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>MACD</td>
                        <td>
                            {% if logic_h.MACD == 1 %}
                                <span class="text-success">Восходящий тренд</span>
                            {% elif logic_h.MACD == -1 %}
                                <span class="text-danger">Нисходящий тренд</span>
                            {% else %}
                                <span class="text-warning">Боковое движение</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>RSI</td>
                        <td>
                            {% if logic_h.RSI == 1 %}
                                <span class="text-success">Восходящий тренд</span>
                            {% elif logic_h.RSI == -1 %}
                                <span class="text-danger">Нисходящий тренд</span>
                            {% else %}
                                <span class="text-warning">Боковое движение</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Стохастик</td>
                        <td>
                            {% if logic_h.stoch == 1 %}
                                <span class="text-success">Восходящий тренд</span>
                            {% elif logic_h.stoch == -1 %}
                                <span class="text-danger">Нисходящий тренд</span>
                            {% else %}
                                <span class="text-warning">Боковое движение</span>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h2 class="mb-4">Анализ {{ symbol }} на графике 15m</h2>

                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Общий анализ тренда</h5>
                        <ul class="list-group">
                            {% for text_item in text %}
                                <li class="list-group-item">{{ text_item }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <h4>Логические значения показателей:</h4>
                <table class="table table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th>Индикатор</th>
                        <th>Значение</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Ожидаемо</td>
                        <td class="{{ analysis.result_class }}">{{ analysis.result }}</td>
                    </tr>
                    <tr>
                        <td>EMA</td>
                        <td>
                            {% if logic.ema == 1 %}
                                <span class="text-success">Восходящий тренд</span>
                            {% elif logic.ema == -1 %}
                                <span class="text-danger">Нисходящий тренд</span>
                            {% else %}
                                <span class="text-warning">Боковое движение</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>SuperTrend</td>
                        <td>
                            {% if logic.st == 1 %}
                                <span class="text-success">Восходящий тренд</span>
                            {% elif logic.st == -1 %}
                                <span class="text-danger">Нисходящий тренд</span>
                            {% else %}
                                <span class="text-warning">Боковое движение</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>MACD</td>
                        <td>
                            {% if logic.MACD == 1 %}
                                <span class="text-success">Восходящий тренд</span>
                            {% elif logic.MACD == -1 %}
                                <span class="text-danger">Нисходящий тренд</span>
                            {% else %}
                                <span class="text-warning">Боковое движение</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>RSI</td>
                        <td>
                            {% if logic.RSI == 1 %}
                                <span class="text-success">Восходящий тренд</span>
                            {% elif logic.RSI == -1 %}
                                <span class="text-danger">Нисходящий тренд</span>
                            {% else %}
                                <span class="text-warning">Боковое движение</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Стохастик</td>
                        <td>
                            {% if logic.stoch == 1 %}
                                <span class="text-success">Восходящий тренд</span>
                            {% elif logic.stoch == -1 %}
                                <span class="text-danger">Нисходящий тренд</span>
                            {% else %}
                                <span class="text-warning">Боковое движение</span>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
